@model IEnumerable<WikiLiCS.Models.Module>
@using WikiLiCS.Helpers;
@{
    ViewBag.Title = "Store";
}
    
    <h2>Browse Modules</h2>
    <p>Select from @Model.Count() modules</p>



<ul>
    @foreach (var module in Model)
    {
        <li>@Html.ActionLink(module.Name + " - " + module.Description + " - (" + module.Transactions.Count + ")"     
        , "Browse", "Store", new { Module = module.Name }, null)</li>
    }
</ul>
